* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Graphik LC Web";
  overflow-x: hidden;
  background: #FDFDFD;
  font-size: 18px;
}

body a {
  text-decoration: none;
  color: #FDFDFD;
}
body ul {
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: 0.3s;
}
.header.scrolled {
  background-color: #fff;
}
.header:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-body {
  position: relative;
  height: 100px;
  margin: auto 25px auto 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.header-logo {
  position: relative;
  z-index: 3;
  gap: 10px;
  width: auto;
  overflow: hidden;
  font-size: 24px;
  font-weight: 800;
}
.header-burger {
  display: none;
}
.header-list {
  position: relative;
  z-index: 2;
  gap: 20px;
}
.header-link {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  transition: 0.2s;
}
.header-link:hover {
  color: #0F3974;
}

.scrolled {
  color: #1E5AAF !important;
}
.scrolled-button {
  color: #fff !important;
  background: #1E5AAF !important;
}

.stick {
  background: #1E5AAF !important;
}
.stick-before-after::before, .stick-before-after::after {
  background-color: #1E5AAF !important;
}

.transparent {
  background: transparent !important;
}

.buttons {
  position: relative;
  z-index: 2;
  gap: 15px;
  transition: 0.3s;
}

#original {
  font-family: "Graphik LC Web";
  cursor: pointer;
  background: transparent;
  border-radius: 25px;
  border: 2px solid #DF0050;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

#buy {
  font-family: "Graphik LC Web";
  background: #fff;
  border-radius: 25px;
  color: #49301D;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}
.flex-jc {
  justify-content: center;
}
.flex-jb {
  justify-content: space-between;
}
.flex-je {
  justify-content: space-evenly;
}
.flex-end {
  justify-content: end;
}
.flex-d-col {
  flex-direction: column;
}
.flex-ac {
  align-items: center;
}
.flex-wr {
  flex-wrap: wrap;
}

.preview {
  position: relative;
}
.preview .background {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 548px;
}

.tagline {
  color: #fff;
  position: absolute;
  bottom: 84px;
  left: 50px;
  max-width: 652px;
}
.tagline h1 {
  font-size: 80px;
  margin-bottom: 40px;
}

.link:hover .arrow {
  transform: translate(5px, 0);
}

.arrow {
  transition: 0.2s;
  display: inline-block;
  margin-left: 15px;
}

.link-block {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 45px;
       column-gap: 45px;
  padding: 0 25px 0 25px;
  margin: 50px 25px;
}
.link-item {
  border-top: solid 1px #DADCE7;
  display: flex;
  padding-block: 25px;
  flex: 33.3%;
  align-items: center;
  justify-content: space-between;
}
.link-item:hover .link-arrow {
  transform: translate(10px, 0);
}
.link-arrow {
  transition: 0.3s;
  margin-right: 10px;
}

.text {
  margin: 120px 25px;
  padding: 0 25px 0 25px;
  max-width: 640px;
}
.text h1 {
  color: #1E5AAF;
  font-size: 40px;
  margin-bottom: 40px;
}
.text p {
  color: #797A84;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-block: 30px;
}

.cards {
  display: flex;
  gap: 46px;
  margin: 120px 25px;
  padding: 0 25px 0 25px;
}

.card {
  position: relative;
  flex: 25%;
  height: 413px;
  padding: 35px;
  border-radius: 4px;
  background: linear-gradient(#092E62, #417CD1);
}
.card h1 {
  color: #fff;
  margin-bottom: 20px;
}
.card p {
  color: rgba(253, 253, 253, 0.5019607843);
}
.card svg {
  transition: 0.3s;
  position: absolute;
  bottom: 40px;
  right: 35px;
}
.card:hover svg {
  transform: translate(10px, 0);
}

.img-descryption {
  background: #1E5AAF;
  color: #FDFDFD;
  padding: 45px;
  border-radius: 0 5px 5px 0;
  width: 30%;
}
.img-descryption p {
  margin-bottom: 20px;
}

.date {
  color: #8EA9D0;
  font-size: 16px;
  margin-bottom: 40px;
}

.slider {
  margin: 120px 50px;
  overflow: hidden;
}
.slider-line {
  display: flex;
  transition: 1s;
  width: 100%;
  height: 70vh;
}
.slider-line-item {
  display: flex;
  flex: 100%;
  border-radius: 5px;
}
.slider-line-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 0 0 5px;
}
.slider-prev {
  cursor: pointer;
}
.slider-next {
  cursor: pointer;
}
.slider-image {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.slogan {
  margin: 40px 25px;
  padding: 0 25px;
  font-size: 40px;
  line-height: 130%;
  color: #252627;
  max-width: 989px;
}

.portfolio {
  background: #1E5AAF;
  width: 100%;
  padding: 60px 110px;
  border-radius: 5px;
}
.portfolio-head {
  margin-bottom: 75px;
}
.portfolio-head-text {
  flex: 70%;
}
.portfolio-head-text h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  line-height: 130%;
  margin-bottom: 20px;
}
.portfolio-head-text p {
  color: #557EB8;
}
.portfolio-head-avatar {
  flex: 30%;
}
.portfolio-head-avatar img {
  width: 150px;
}
.portfolio-body {
  color: #9FB7DB;
  font-size: 30px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .lock {
    overflow: hidden;
  }
  .header-burger {
    position: relative;
    z-index: 3;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header-burger.active:before {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header-burger.active span {
    transition: 0.1s;
    background-color: transparent;
  }
  .header-burger.active:after {
    transform: rotate(45deg);
    bottom: 9px;
  }
  .header-burger:before {
    content: "";
    position: absolute;
    background: #FDFDFD;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
  .header-burger span {
    position: absolute;
    background: #FDFDFD;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: 0.3s;
  }
  .header-burger:after {
    content: "";
    position: absolute;
    background: #FDFDFD;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 1px;
    transition: 0.3s;
  }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E5AAF;
    padding: 100px 10px 0px 50px;
    transition: 0.3s;
  }
  .header-menu.active {
    top: 0;
  }
  .header-list {
    flex-direction: column;
  }
  .header-list li {
    margin: 0 0 20px 0;
  }
  .header .buttons {
    position: fixed;
    top: -100%;
    left: 0;
  }
  .header .buttons.active {
    flex-direction: column;
    z-index: 3;
    top: 80vh;
    left: 50px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    flex: 33.3%;
  }
}
@media (max-width: 768px) {
  .tagline {
    max-width: 300px;
  }
  .tagline h1 {
    font-size: 2.3em;
  }
  .link-block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin: 50px auto;
  }
  .text {
    margin: 120px auto;
  }
  .cards {
    margin: 120px auto;
  }
  .slider {
    margin: 120px 25px;
  }
  .slider-line-item {
    flex-direction: column;
  }
  .slider-image {
    width: auto;
    height: 40%;
  }
  .img-descryption {
    width: 100%;
    height: 60%;
    border-radius: 0 0 5px 5px;
  }
}/*# sourceMappingURL=style.css.map */