@font-face {
    font-family: 'Graphik LC Web';
    src: url('GraphikLCWeb-Medium.woff2') format('woff2'),
        url('GraphikLCWeb-Medium.woff') format('woff'),
        url('GraphikLCWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

